{{> head}}

{{> navbar}}

<div class="row">
  <div class="col-8">
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt obcaecati qui consectetur
      corporis
      ratione eum earum itaque iure odit molestiae, aliquid ad? Quod iusto corporis minus in quia? Nihil, distinctio?
    </p>
  </div>
  <div class="col-4">
    <img class="img-thumbnail" src="/assets/img/foto.jpeg" alt="Foto">
  </div>
</div>


{{> footer}}